.container-fluid {
  background: linear-gradient(to bottom, #a4dbb4, white);
}
#output {
  display: none;
}
#cats {
  display: none;
}
#halo {
  display: none;
}
#birthday {
  display: none;
}
#heading {
  text-align: center;
}
#heading {
  height: 100px;
}
#input .panel {
  padding: 10px;
  background-color: #71bc86;
}
#output p {
  font-size: 12pt;
}
#pregame img {
  width: 100%;
}
